body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 400px;
  }
  
  h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .game-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .buttons {
    display: flex;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    border: none;
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  #restart {
    background-color: #FDBB4A;
    color: #ffffff;
    border: none;
    width: 150px;
    height: 50px;
    margin: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;
  }
  
  #restart:hover {
    background-color: #FF4444; /* Change to red color on hover */
    cursor: pointer;
    transform: scale(1.05); /* Make the div slightly bigger on hover */
  }

  .results {
    color: #444;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .results::after,
  .results::before {
    content: "";
    display: block;
    height: 2px;
    background-color: #3498db;
    margin: 10px auto;
    max-width: 100px;
  }
  
  .container.game-over {
    border: 4px solid #3498db;
    padding: 30px;
  }
  
  .container.game-over h1 {
    color: #3498db;
  }
  
  .container.game-over .buttons {
    display: none;
  }
  
  button#rock::before {
    content: "🪨";
  }
  
  button#paper::before {
    content: "📄";
  }
  
  button#scissors::before {
    content: "✂️";
  }
  